<%= form_for([@article, @article.comments.build]) do |f| %>
  <p>
    <%= f.label 'Your name' %><br>
    <%= f.text_field :commenter %>
  </p>
  <p>
    <%= f.label 'Your thoughts' %><br>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
