<h1>Listing articles</h1>
 
<% @articles.each do |article| %>
<div class="article-item">

    <div class="article-item__title">
        <span class="small"><%= article.created_at.strftime("%d %b. %Y") %></span>
        <span class="link"><%= link_to article.title, article_path(article) %></span>
    </div>

    <div class="article-item__actions"><%= link_to 'Edit', edit_article_path(article), class: 'btn left' %>
  <%= link_to 'Delete', article_path(article),
              method: :delete,
              data: { confirm: 'Are you sure?' },
              class: 'btn right' %>
    </div>

</div>
<% end %>

<p><%= link_to 'New article', new_article_path, class: 'btn' %></p>
