<h1><%= @article.title %></h1>

<div class="small">
    <p><%= @article.created_at.strftime("%d %b. %Y") %>
       <%= @article.created_at.strftime("%H:%M") %></p>
</div>

<div>
<%= simple_format(@article.text) %>
</div>

<h2>Comments</h2>
<%= render @article.comments %>


<h2>Add a comment</h2>

<%= render 'comments/form' %>

<p><%= link_to 'Edit', edit_article_path(@article), class: 'btn left' %> <%= link_to 'Back', articles_path, class: 'btn right' %></p>
